# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Az\SOFTUNI\JavaScript Advanced\EXAM prep\15.02.2021 - with Victor\01. Christmas Gifts Delivery_Ресурси\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
