# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Az\SOFTUNI\JavaScript Advanced\EXAM prep\27 June 2020 - with Ivo Papazov\01. Pet Me_Ресурси\Pet_Me - Resources\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
